.unauth-wrapper {
  background: #ecf0f1;

  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.login-view {
  width: 350px;
  margin: auto;

  display: flex;
  flex-direction: column;

  text-align: center;

  & > * {
    margin: 1rem 0;
  }

  header {
    font-size: 3rem;
    font-weight: 600;
    color: #262a41;
  }

  .social-login {
    width: 100%;
    display: flex;
    justify-content: space-between;
    & > * {
      font-size: 1.35rem;
      width: 100%;
      border-radius: 0;
    }
    button.google {
      background: #e74c3c;
    }
    button.facebook {
      background: #2980b9;
    }
  }

  .separator {
    text-transform: uppercase;
    opacity: .4;
  }

  form {
    .checkbox {
      text-align: left;
      margin: 1rem 0;
    }
    button {
      width: 100%;
      border: 0;
      color: white;
      background: #262a41;
      height: 3rem;
    }
  }
  .others {
      opacity: .8;
      text-align: left;
  }
}
