.auth-wrapper {
  background-color: #262a41;
  color: white;

  height: 100%;
  width: 100%;

  & > .grid {
    height: 100%;
    width: 1000px;

    margin: auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "side main";

    @media (max-width: 1000px) {
      width: auto;
    }
  }
}
