.main {
  grid-area: main;
  padding: 1rem;
  height: 100%;
  overflow: hidden;
  .content {
    position: relative;
    color: #262a41;
    background: #ecf0f1;
    border-radius: 3%;

    height: 100%;
    padding: 3rem;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar {
      width: 10px;
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
      background-image: -webkit-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.2) 50%,
        rgba(255, 255, 255, 0.2) 75%,
        transparent 75%,
        transparent
      );
    }
    &#c1::-webkit-scrollbar-thumb {
      background-color: #9d50bb;
    }
    &#c2::-webkit-scrollbar-thumb {
      background-color: #12fff7;
    }
    &#c3::-webkit-scrollbar-thumb {
      background-color: #f2709c;
    }
    .float-btn {
      position: sticky;
      bottom: 0;
      margin: 0 auto;
      border-radius: 1rem;
      border: 0;
      padding: 1rem 1.4rem;
      font-size: 0.9rem;
      color: white;
      transition: all 2s ease;
      width: 7rem;
      &:hover,
      &.active {
        width: 50%;
        font-size: 1.1rem;
        cursor: pointer;
        background: white;
        border-radius: 0.3rem;
      }
      &.active {
        background: white;
      }
      &#c1 {
        background: #9d50bb; /* fallback for old browsers */
        background: -webkit-linear-gradient(
          to right,
          #6e48aa,
          #9d50bb
        ); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
          to right,
          #6e48aa,
          #9d50bb
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        &:hover,
        &.active {
          border: 1px solid #9d50bb;
        }
        &.active {
          color: #9d50bb;
        }
      }
      &#c2 {
        background: #b3ffab; /* fallback for old browsers */
        background: -webkit-linear-gradient(
          to right,
          #12fff7,
          #b3ffab
        ); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
          to right,
          #12fff7,
          #b3ffab
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        &:hover,
        &.active {
          border: 1px solid #b3ffab;
        }
        &.active {
          color: #b3ffab;
        }
      }
      &#c3 {
        background: #f2709c; /* fallback for old browsers */
        background: -webkit-linear-gradient(
          to right,
          #ff9472,
          #f2709c
        ); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
          to right,
          #ff9472,
          #f2709c
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        &:hover,
        &.active {
          border: 1px solid #f2709c;
        }
        &.active {
          color: #f2709c;
        }
      }
    }
    header {
      font-size: 1.1rem;
      font-weight: 600;

      h1 {
        font-weight: 500;
      }
    }
    p.description {
      opacity: 0.5;
      margin-bottom: auto;
    }
    .section {
      header i {
        font-style: normal;
        font-weight: normal;
        font-size: 0.7rem;
        opacity: 0.6;
        display: block;
      }
      .list {
        margin-top: 1rem;
        max-height: 300px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        overflow-y: auto;
        & > * {
          padding: 0.4rem 0.5rem;
        }
        .link {
          color: #262a41;

          &:hover {
            background: #262a41;
            color: white;
          }
        }
      }
    }
  }
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
