.nav {
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    background: darken($color: #303952, $amount: 12);  /* fallback for old browsers */

    display: flex;
    flex-direction: column;

    .item {
        color: #bdc3c7;

        padding: 1.8rem;
        font-size: 1.4rem;

        cursor: pointer;

        &.disabled {
            cursor: default;
            color:gray;
        }

        &:hover:not(.disabled),&.active {
            background: #262a41;
            
            & > *{
                color:white;
            }
        }

        &:last-child{
            margin-top: auto;
        }
    }
}