.side {
  height: 100%;
  width: 100%;
  
  grid-area: side;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 6rem 4rem;

  .header {
    margin-bottom: 0.4rem;
    font-weight: 400;
  }

  .paragraph {
    margin-bottom: auto;
    opacity: 0.3;
  }

  .crawls {
    height: 100px;

    header {
      opacity: 0.8;
      font-size: 1.1rem;
    }

    .list {
      margin-top: 1rem;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 2rem;

      .item {
        color: white;
        height: 100px;
        width: 100px;

        padding: 0.3rem;
        border-radius: 1rem;

        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        cursor: pointer;

        &.disabled {
          background: content-box gray;
          opacity: .2;
          
          &:hover,&.active {
            border: 3px solid gray;
          }
        }

        &:nth-child(1):not(.disabled) {
          background: content-box #9d50bb; /* fallback for old browsers */
          background: content-box -webkit-linear-gradient(to right, #6e48aa, #9d50bb); /* Chrome 10-25, Safari 5.1-6 */
          background: content-box linear-gradient(to right, #6e48aa, #9d50bb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

          &:hover,&.active {
            border: 3px solid #9d50bb;
          }
        }
        &:nth-child(2):not(.disabled) {
          background: content-box #b3ffab; /* fallback for old browsers */
          background: content-box -webkit-linear-gradient(to right, #12fff7, #b3ffab); /* Chrome 10-25, Safari 5.1-6 */
          background: content-box linear-gradient(to right, #12fff7, #b3ffab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

          &:hover,&.active  {
            border: 3px solid #b3ffab;
          }
        }
        &:nth-child(3):not(.disabled) {
          background: content-box #f2709c; /* fallback for old browsers */
          background: content-box -webkit-linear-gradient(to right, #ff9472, #f2709c); /* Chrome 10-25, Safari 5.1-6 */
          background: content-box linear-gradient(to right, #ff9472, #f2709c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

          &:hover,&.active  {
            border: 3px solid #f2709c;
          }
        }
      }
    }
  }
}

.floating-btn-menu {
    position: absolute;

    height: 2rem;
    width: 2rem;

    margin: 1rem;

    background: rgba(255, 255, 255, 0.1rem);
    border-radius: .5rem;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    & > *{
        opacity: .7;
        display: block;
        margin: auto;
    }
}
