
h1 {
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root{
    height: 100%;  
}

body {
    height: 100%;
}

#root {
    height: 100%;
}

.app {
    height: 100%;
}
